* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
a, p, h1, h2, h3, h4, .titre2, .titre3, label, option, span {
  font-family:'Arial', sans-serif;
}
.wrap {
  max-width:923px;
  margin:0 auto;
  position: relative;
  z-index:100;
  @media screen and (max-width: $screen-sm) {
    padding-left:20px;
    padding-right:20px;
  }
}
.wrap-flex {
  display: flex;
  max-width:923px;
  margin:0 auto;
  flex-basis: auto;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  z-index:101;
  @media screen and (max-width: $screen-sm) {
    padding:0 20px;
  }
}
.row {
  @media screen and (max-width: $screen-sm) {
    margin-right: -15px;
    margin-left: -15px;
  }
}
body {
  background-color: white;
  /*background-image: url('../images/pixel-perfect.png');*/
  background-position: top center;
  background-repeat: no-repeat;
}
main {
  /*opacity:0.75;*/

}
.form-group {
  @media screen and (max-width: $screen-xs) {
    display: block!important;
    padding:0!important;
    margin-bottom:20px;
    text-align: center!important;
  }
}
select::-ms-expand {
  display: none;
}