/****************************************
 *	Variables
 ****************************************/

/********************
 *	Colors
 ********************/
$blue:   #170cff;
$green:  #0cff56;
$red:  #ff3f0c;
$dark-red: #f23a09;
$white: #FFF;
$black: #000;
$grey: #555555;
$light-grey: #e6e6e6;
$dark-grey: #212121;

/****************************************
 *	Screen
 ****************************************/

$screen-sm: 923px;
$screen-xs-max: 796px;
$screen-xs: 580px;