.best-seller {
  margin-top: 39px;
  &.all-model {
    .titre2 {
      margin-top:3px;
    }

  }
  header {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
    padding-top:4px;
    @media screen and (max-width: $screen-xs-max) {
      flex-flow: column;
      align-items: center;
    }
  }
  .titre2 {
    margin-top: 4px;
    @media screen and (max-width: $screen-xs-max) {
      margin-bottom:20px;
      display: block;
    }
  }
  form {
    text-align: right;
    label {
      font-size:14px;
      color: $grey;
      padding-right: 5px;
    }
    select {
      max-width: 114px;
    }
    .select__custom {
      position: relative;
      display: inline-block;
      .select__icon-choose {
        content: '';
        width: 6px;
        height: 10px;
        right:9px;
        top:50%;
        @include translatey(-50%);
        position: absolute;
        background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28166%2C%20166%2C%20166%29%22%0A%20d%3D%22M6.000%2C7.000%20L-0.000%2C7.000%20L3.000%2C10.000%20L6.000%2C7.000%20Z%22/%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28166%2C%20166%2C%20166%29%22%0A%20d%3D%22M-0.000%2C3.000%20L6.000%2C3.000%20L3.000%2C-0.000%20L-0.000%2C3.000%20Z%22/%3E%0A%3C/svg%3E);
      }
    }
  }
  margin-bottom:75px;

}

.titre2 {
  font-size:24px;
  color: $grey;
}

.best-seller__list {
  margin-top:42px;
  .best-seller__slide {
    display: flex;
    flex-flow: wrap;

    @media screen and (max-width: $screen-xs-max) {
      flex-flow: initial;
      -ms-flex-wrap: nowrap;
      overflow-x: scroll;
    }
    .best-seller__item {
      &.best-seller__item--search {
        opacity:1;
      }
      opacity:0;
      display: flex;
      flex:0 0 calc(100% / 5);
      -ms-flex: 1;
      padding-left:3px;
      padding-right:3px;
      @media screen and (max-width: $screen-sm) {
        padding-right:0px;
      }
      &:first-child {
        padding-left:0px;
      }
      &:last-child {
        padding-right:0px;
      }

      @media screen and (max-width: $screen-xs) {
        margin-bottom:20px;
      }
      @media screen and (max-width: $screen-xs-max) {
        flex: 0 0 calc((100% / 3) - 18px);
        -ms-flex: 0 0 33.333%;
        padding-right:6px;
      }
      @media screen and (max-width: $screen-xs) {
        flex: 0 0 calc((100% / 2) - 18px);
        -ms-flex: 0 0 50%;
      }
    }
  }
}
.best-seller__item--article {
  background: #efefef;
  min-height: 220px;
  position: relative;
  // Fix IE10 11
  width:100%;
  padding-bottom:26px;
  .best-seller__item--image {
    text-align: center;
    background-color: $light-grey;
    padding: 9px 0px 6px 0px;
  }
  .best-seller__item--title {
    color: $grey;
    font-weight:600;
    line-height:18px;
    padding:15px 24px 0px 14px;
    @media screen and (max-width: $screen-sm) {
      padding:15px 9px 0px 14px;
    }
  }
  .best-seller__item--category {
    font-size:11px;
    /* Voir si je mets 9 */
    padding:9px 15px 0px 15px;
    color: $grey;
  }
  .best-seller__item--stock {
    font-size:11px;
    font-weight:600;
    text-align: right;
    color: #d6d6d6;
    padding:26px 10px 8px 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left:0;
      width:100%;
      background-color: #d6d6d6;
      height: 4px;
    }
  }
}
.best-seller__item--warning {
  .best-seller__item--stock {
    color: $red;
    &:before {
      background-color: $red;
    }
  }
}
.all-model {
  padding-top:50px;
  padding-bottom:7px;
  header {
    @-moz-document url-prefix() {
      padding-top:0px;
    }
  }
  .form-group {
    display: inline-block;
    padding-right:24px;
    position: relative;
    &:last-child {
      padding-right:0px;
    }
    input[type="search"] {
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width:256px;
      height:32px;
      background: transparent;
      border:1px solid #A6A6A6;
      padding:6px 8px 8px 39px;
      font-family:'Arial', sans-serif;
      font-size:14px;
      position: relative;
      box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
    }
    .select__icon-glass {
      position: absolute;
      left: 15px;
      top:40%;
      @include translatey(-50%);
      width: 15px;
      height: 15px;
      &:before {
        content: '';
        position: absolute;
        left:0;
        top:0;
        width:14px;
        border: 1px solid #b2b2b2;
        height:14px;
        border-radius: 100%;
      }
      &:after {
        content: '';
        width:10px;
        height:1px;
        background-color: #b2b2b2;
        position: absolute;
        bottom: -2px;
        left: -6px;
        border-right:50%;
        border-left:50%;
        @include rotate(-45);

      }
    }
  }
  .best-seller__see {
    margin-top:34px;
    position: relative;
    text-align: center;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%,-50%);
      height: 1px;
      width: 100%;
      background-color: #d6d6d6;
      z-index: 2;
    }
  }
}
