.information {
  padding-bottom:46px;
  background-color: $white;
  position: relative;
  z-index: 10;
  // Fix IE
  overflow: hidden;

  .wrap-flex {
    @media screen and (max-width: $screen-xs-max) {
      flex-flow: column;
    }
  }
  article {
    padding-top:26px;
    padding-bottom: 20px;
    figure {
      display: inline-block;
      margin-right: -2px;
    }
    figcaption {
      display: none;
    }
    header {
      display: inline-block;
      vertical-align: top;
      color: $grey;

      h1 {
        font-weight:600;
        font-size:14px;
        margin-bottom:1px;
      }
      span {
        font-size:11px;
        line-height: 16px;
      }
    }
  }
  .information__list {
    padding-top:20px;
    overflow: hidden;

    @media screen and (max-width: $screen-xs-max) {
      flex-flow: wrap;
      justify-content: center;
    }
    .information__item {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom:-1px;
        left:0;
        width:100%;
        height:1px;
        background-color: #d6d6d6;
      }
      &:last-child {
        &:before {
          display: none
        }
      }
      @media screen and (max-width: $screen-xs-max) {
        width:252px;
        max-width: 252px;
        -ms-flex: 50%;
        flex: 0 0 50%;
      }
      @media screen and (max-width: $screen-xs) {
        max-width:100%;
        flex:0 0 100%;
      }
    }
  }
  .information__col-f2 {
    flex:0 0 50%;
    margin-top:47px;
    @-moz-document url-prefix() {
      margin-top:45px;
    }
    strong {
      font-weight: 800;
    }
    @media screen and (max-width: $screen-xs-max) {
      flex:0 0 100%;
      flex-basis: auto;
    }
  }
  .information__col-historique {
    padding-right:25px;
    @media screen and (max-width: $screen-xs-max) {
      padding-right:0;
    }
    .information__article {
      header {
        max-width:224px;
      }
      @media screen and (max-width: $screen-xs-max) {
        text-align: center;
        max-width: 250px;
        margin: 0 auto;
      }
      &:hover {
        .btn {
          opacity:1;
        }
      }
    }
    .information__article-state-warning {
      font-size:10px;
      color: $red;
      display: block;
      margin-top:10px;
      font-weight:600;
    }
    .information__article-state-transit {
      font-size:10px;
      display: block;
      margin-top:8px;
      color: $grey;
    }
    .information__article-state-deliver {
      font-size:10px;
      color: $green;
      display: block;
      margin-top:7px;
      font-weight:600;
    }
    .information__image-client {
      img {
        @include border-radius(50%);
      }
      .information__image-client-icon {
        @include border-radius(50%);
        width: 50px;
        height: 50px;
        display: inline-block;
        position: relative;
        left: -17px;
        top:0;
        &:before {
          content: '';
          display: block;
          -webkit-background-size: cover;
          background-size: cover;
          background-repeat: no-repeat;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 50%;
          top: 50%;
          @include translate(-50%,-50%);
        }
        &.information__image-client-icon-warning {
          background-color: $red;
          &:before {
            width: 13px;
            height: 24px;
            background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2213px%22%20height%3D%2224px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M2.500%2C4.000%20C2.500%2C6.210%204.290%2C8.000%206.500%2C8.000%20C8.710%2C8.000%2010.500%2C6.210%2010.500%2C4.000%20C10.500%2C1.790%208.710%2C-0.001%206.500%2C-0.001%20C4.290%2C-0.001%202.500%2C1.790%202.500%2C4.000%20ZM2.500%2C12.500%20L2.500%2C21.500%20L1.250%2C21.500%20C0.560%2C21.500%200.000%2C22.060%200.000%2C22.750%20C0.000%2C23.440%200.560%2C23.999%201.250%2C23.999%20L11.750%2C23.999%20C12.440%2C23.999%2013.000%2C23.440%2013.000%2C22.750%20C13.000%2C22.060%2012.440%2C21.500%2011.750%2C21.500%20L10.500%2C21.500%20L10.500%2C11.100%20C10.500%2C10.490%2010.010%2C10.000%209.400%2C10.000%20L1.250%2C10.000%20C0.560%2C10.000%200.000%2C10.560%200.000%2C11.250%20C0.000%2C11.939%200.560%2C12.500%201.250%2C12.500%20L2.500%2C12.500%20Z%22/%3E%0A%3C/svg%3E);
          }
        }
        &.information__image-client-icon-transi {
          background-color: $light-grey;
          top:-2px;
          &:before {
            width: 28px;
            height: 24px;
            background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2228px%22%20height%3D%2224px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28166%2C%20166%2C%20166%29%22%0A%20d%3D%22M25.667%2C19.800%20C26.956%2C19.800%2028.000%2C18.725%2028.000%2C17.399%20L28.000%2C2.399%20C28.000%2C1.074%2026.956%2C-0.000%2025.667%2C-0.000%20L12.833%2C-0.000%20C11.544%2C-0.000%2010.500%2C1.074%2010.500%2C2.399%20L10.500%2C4.800%20L6.953%2C4.800%20C6.172%2C4.800%205.478%2C5.118%204.976%2C5.628%20L2.024%2C8.676%20C1.493%2C9.216%201.167%2C9.972%201.167%2C10.800%20L1.167%2C16.830%20C0.502%2C16.968%20-0.000%2C17.574%20-0.000%2C18.300%20C-0.000%2C19.128%200.653%2C19.800%201.458%2C19.800%20L3.512%2C19.800%20C3.657%2C22.146%205.559%2C24.000%207.875%2C24.000%20C10.191%2C24.000%2012.093%2C22.146%2012.238%2C19.800%20L16.339%2C19.800%20C16.490%2C22.146%2018.392%2C24.000%2020.708%2C24.000%20C23.024%2C24.000%2024.926%2C22.146%2025.072%2C19.800%20L25.667%2C19.800%20ZM9.333%2C19.500%20C9.333%2C20.328%208.680%2C21.000%207.875%2C21.000%20C7.070%2C21.000%206.417%2C20.328%206.417%2C19.500%20C6.417%2C18.672%207.070%2C18.000%207.875%2C18.000%20C8.680%2C18.000%209.333%2C18.672%209.333%2C19.500%20ZM22.167%2C19.500%20C22.167%2C20.328%2021.513%2C21.000%2020.708%2C21.000%20C19.903%2C21.000%2019.250%2C20.328%2019.250%2C19.500%20C19.250%2C18.672%2019.903%2C18.000%2020.708%2C18.000%20C21.513%2C18.000%2022.167%2C18.672%2022.167%2C19.500%20ZM4.083%2C12.600%20L4.083%2C11.082%20C4.083%2C10.482%204.317%2C10.200%204.754%2C9.750%20L6.008%2C8.459%20C6.405%2C8.051%206.708%2C7.799%207.280%2C7.799%20L10.500%2C7.799%20L10.500%2C12.600%20L4.083%2C12.600%20Z%22/%3E%0A%3C/svg%3E);
          }
        }
        &.information__image-client-icon-deliver {
          background-color: $green;
          top:-2px;

          &:before {
            width: 17px;
            height: 13px;
            background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2217px%22%20height%3D%2213px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M16.987%2C2.888%20L6.866%2C13.000%20L3.974%2C10.111%20L4.011%2C10.075%20L0.009%2C6.077%20L2.901%2C3.187%20L6.903%2C7.186%20L14.095%2C-0.001%20L16.987%2C2.888%20Z%22/%3E%0A%3C/svg%3E);          }
        }
      }
      &.information__image-client-warning {
        img {
          border: 1px solid $red;
        }
      }
      &.information__image-client-general {
        img {
          border:1px solid #d6d6d6;
        }
      }
    }

    .information__col-historique-all {
      text-align: center;
      margin-top:9px;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 57%;
        @include translate(-50%,-50%);
        height:1px;
        width:100%;
        background-color:#d6d6d6;
        z-index:2;
      }
    }

    ul {
      @media screen and (max-width: $screen-xs-max) {
        display: flex;
      }
    }
  }
  .titre2 {
    font-size:18px;
    color: $grey;
  }
  .information__col-formations {
    padding-left:25px;
    .information__image-client {
      margin-right:0;
    }
    .information__formations-artcile {
      header {
        max-width: 270px;
        @media screen and (max-width: $screen-xs-max) {
          max-width: 196px;

        }
      }
    }
    article {
      padding-bottom: 20px;
    }
    header {
      padding-left:15px;
      margin-top:-3px;
    }
  }
  .information__col-formations--recommend {
    font-size:10px;
    font-weight:600;
    display: block;
    color: #a6a6a6;
    margin-top:12px;
  }
}

.ventes {
  height:381px;
  margin-top: 3px;
  /*background-color: $red;*/
  @-moz-document url-prefix() {
    padding-top:46px;
  }
  #canvas {
    padding-top: 37px;
    @media screen and (max-width: $screen-sm) {
      width:100%;
    }
  }
  padding-top:49px;
  text-align: center;
  position: relative;
  .previous-model {
    position: absolute;
    width: 20px;
    height: 36px;
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2220px%22%20height%3D%2236px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M19.687%2C35.291%20L18.968%2C36.004%20L0.995%2C18.168%20L1.197%2C17.967%20L0.694%2C17.468%20L18.301%2C-0.005%20L19.005%2C0.694%20L1.915%2C17.654%20L19.687%2C35.291%20Z%22/%3E%0A%3C/svg%3E);
    left:0;
    top: 50%;
    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width:100%;
    height:100px;
    background-color: $red;
    bottom: -36px;
    left:0;
    @include skewY(1.55deg)
  }
  &:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:calc(100% - 36px);
    background-color: $red;
  }
  header {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $screen-xs-max) {
      flex-flow: column;
    }
  }
  .titre2 {
    color: $white;
    padding-left:50px;
    font-weight:600;
    font-size:14px;
    @media screen and (max-width: $screen-xs-max) {
      display: block;
      margin-bottom:30px;
    }
  }
  form {
    position: relative;
    top: -8px;
    .form-group {
      display: inline-block;
      padding-right:12px;
      text-align: right;
      .select__custom {
        position: relative;
        display: inline-block;
        .select__icon-choose {
          content: '';
          width: 6px;
          height: 10px;
          right:9px;
          top:50%;
          z-index:100;
          @include translatey(-50%);
          position: absolute;
          background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M3.000%2C-0.000%20L6.000%2C2.999%20L-0.000%2C2.999%20L3.000%2C-0.000%20ZM3.000%2C10.000%20L-0.000%2C6.999%20L6.000%2C6.999%20L3.000%2C10.000%20Z%22/%3E%0A%3C/svg%3E);
        }

      }
      &:last-child {
        padding-left:11px;
        padding-right:50px;
      }
    }
    label {
      font-size:14px;
      color: $white;
      padding-right: 6px;
    }
    /* Faire une classe car répétitions*/
    select {
      padding:0px 16px 0px 9px;
      background: $dark-red;
      border: 1px solid white;
      width: 121px;
      height: 32px;
      color: $white;
      overflow: hidden;
      &:before {

        content: '';
        position: absolute;
        right:0;
        top:50%;
        @include translatey(-50%);
        background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M6.000%2C6.999%20L-0.000%2C6.999%20L3.000%2C10.000%20L6.000%2C6.999%20Z%22/%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M-0.000%2C2.999%20L6.000%2C2.999%20L3.000%2C-0.000%20L-0.000%2C2.999%20Z%22/%3E%0A%3C/svg%3E);
      }
    }
    option {
      font-size:14px;

    }
  }
}
