.feature {
  height:400px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('../images/velo-bg.png');
  background-color: $blue;
  @media screen and (max-width: $screen-xs) {
    text-align: center;
  }
  .wrap {
    height: 100%;
  }
  article {
    color: $white;
    font-size:11px;

    padding-top:50px;
  }
  .feature__title {
    font-weight:800;
    font-size:14px;
    margin-bottom: 15px;
    @media screen and (max-width: $screen-xs) {
      font-size:40px;
    }
  }
  .btn-primary {
    position: absolute;
    bottom: 50px;
    left: 0;
    &:before {
      background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%229px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M4.508%2C6.079%20L4.476%2C6.047%20L1.571%2C8.984%20L0.142%2C7.540%20L3.047%2C4.603%20L-0.015%2C1.508%20L1.492%2C-0.016%20L6.015%2C4.555%20L4.508%2C6.079%20Z%22/%3E%0A%3C/svg%3E);
    }
    @media screen and (max-width: $screen-sm) {
      left:15px;
    }
    @media screen and (max-width: $screen-xs) {
      left:50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}
