.footer-page {
  padding-bottom:40px;
  background-color: $blue;
  position: relative;
  z-index: 9;

  .wrap-flex {
    @media screen and (max-width: $screen-xs-max) {
      display: flex;
      flex-flow: wrap;
      text-align: center;
    }
  }
  div {
    flex:0 0 calc(100% / 4);
    margin-top:50px;
    @media screen and (max-width: $screen-xs-max) {
      flex:0 0 calc(100% / 2);
    }
    @media screen and (max-width: $screen-xs) {
      flex: 0 0 100%;
    }
  }
  .titre3 {
    display: block;
    padding-bottom:30px;
    color: $white;

  }
  ul {
    li {
      a {
        font-size:14px;
        text-decoration: none;
        line-height:20px;
        color: $white;
      }
    }
  }
}