.header {
  background: $blue;
  border-bottom:1px solid $white;
  /*position: absolute;*/
  top: 0;
  left: 0;
  .wrap-flex {
    @media screen and (max-width: $screen-xs) {
      justify-content: flex-end;
    }
  }
}
.header__nav {
  a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: $white;
    margin-right:24px;
    padding:42px 0px 43px 0px;
    font-family: 'Arial', sans-serif;
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      width:0%;
      height:5px;
      bottom:0;
      left:0;
      background-color: $white;
      -webkit-transition: all 1s cubic-bezier(0.8,0,0.2,1);
      -moz-transition: all 1s cubic-bezier(0.8,0,0.2,1);
      -ms-transition: all 1s cubic-bezier(0.8,0,0.2,1);
      -o-transition: all 1s cubic-bezier(0.8,0,0.2,1);
      transition: all 1s cubic-bezier(0.8,0,0.2,1);
    }
    @media screen and (min-width: $screen-xs) {
      &:hover {
        &:after {
          width:100%;
        }
      }
    }

  }
}
.header__nav--left {
  .active {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      background: $white;
    }
  }
  @media screen and (max-width: $screen-xs) {
    -webkit-transition: all 1s cubic-bezier(0.8,0,0.2,1);
    -moz-transition: all 1s cubic-bezier(0.8,0,0.2,1);
    -ms-transition: all 1s cubic-bezier(0.8,0,0.2,1);
    -o-transition: all 1s cubic-bezier(0.8,0,0.2,1);
    transition: all 1s cubic-bezier(0.8,0,0.2,1);
    position: fixed;
    display: flex;
    top:0;
    left:0;
    @include translatex(-100%);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: black;
    flex-flow: column;
    z-index:1000;
    a {
      margin:0 auto;
      padding:20px 0px;
      position: relative;
      &.active-link {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width:100%;
          height:100%;
          background-color: red;
          left:0;
          top:0;
          @include scale(0,1);
        }

      }
      &:before {
        display: none;
      }
    }
  }
}
.header__nav--right {
  a {
    margin-right:0;
    padding-right: 34px;
    &.header__nav--account {
      &:before {
        content: '+';
        display: flex;
        justify-content:center;
        align-items:center;
        background: $green;
        width: 11px;
        height: 11px;
        position: absolute;
        right: 13px;
        top: 50%;
        @include translatey(-50%)
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

      }
    }
    &:last-child {
      padding-left:20px;
      padding-right:0;
      &:before {
        content: '';
        position: absolute;
        left:0;
        @include translatex(-50%)
        background-color: rgb(85, 85, 85);
        width: 1px;
        height: 15px;
      }
    }
  }
}