.nouveaute {
  position: relative;
  .titre3 {
    padding-top:50px;
    display: block;
    padding-bottom:28px;
    text-align: center;
  }
  &:before {
    content: '';
    position: absolute;
    width:100%;
    height:100px;
    background-color: $green;
    top: -12px;
    @include skewY(-1.7);
  }
  &:after {
    content: '';
    position: absolute;
    width:100%;
    height:calc(100% - 30px);
    top:30px;
    background-color: $green;
    z-index:1;
  }
  .nouveaute__dots {
    text-align: center;
    padding-bottom:50px;
    margin-top:5px;
    @media screen and (max-width: $screen-sm) {
      margin-top:30px;
    }
    @media screen and (max-width: $screen-xs-max) {
      padding-bottom:15px;
    }
    .nouveaute__dots--current {
      border: 1px solid $dark-grey;
      margin:0px 10px;
      @include scale(1.2,1.2);
    }
    li {
      cursor: pointer;
      display: inline-block;
      margin:0 5px;
      position: relative;
      -webkit-transition: transform 0.5s, width 0.5s, height 0.5s ease;
      -moz-transition: transform  0.5s, width 0.5s, height 0.5s ease;
      -ms-transition: transform 0.5s, width 0.5s, height 0.5s ease;
      -o-transition: transform  0.5s, width 0.5s, height 0.5s ease;
      transition: transform 0.5s, width 0.5s, height 0.5s ease;
      width:40px;
      height:40px;
      &:before {
        content: '';
        position: absolute;
        width:100%;
        height:100%;
        border:1px solid $white;
        left: 50%;
        top: 50%;
        -webkit-transition: border 0.5s ease;
        -moz-transition: border 0.5s ease;
        -ms-transition: border 0.5s ease;
        -o-transition: border 0.5s ease;
        transition: border 0.5s ease;
        @include translate(-50%,-50%);
        @include border-radius(50%)
      }
      &.current {
        @include border-radius(50%);
        &:before {
          border:1px solid $dark-grey;
        }
      }
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    padding-bottom:40px;
  }
}

.nouveaute__slider-nouveaute {
  margin-top:24px;
  position: relative;
  min-height: 226px;

  .nouveaute__slider--arrow {
    cursor: pointer;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 20px;
    height: 36px;
    position: absolute;
    top:40%;
    @include translatey(-50%);
    z-index:10000;
    @media screen and (max-width: $screen-xs) {
      display: none;
    }
  }
  .nouveaute__slider--arrow-left {
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2220px%22%20height%3D%2236px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%2833%2C%2033%2C%2033%29%22%0A%20d%3D%22M19.687%2C35.291%20L18.968%2C36.004%20L0.995%2C18.168%20L1.197%2C17.967%20L0.694%2C17.468%20L18.301%2C-0.005%20L19.005%2C0.694%20L1.915%2C17.654%20L19.687%2C35.291%20Z%22/%3E%0A%3C/svg%3E);
    left:0;
  }
  .nouveaute__slider--arrow-right {
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2219px%22%20height%3D%2236px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%2833%2C%2033%2C%2033%29%22%0A%20d%3D%22M18.993%2C18.532%20L1.387%2C36.004%20L0.683%2C35.305%20L17.772%2C18.345%20L0.000%2C0.708%20L0.719%2C-0.005%20L18.692%2C17.831%20L18.490%2C18.032%20L18.993%2C18.532%20Z%22/%3E%0A%3C/svg%3E);
    right:0;
    z-index:9999;
  }
  .nouveaute__slider-item {
    display: none;
    min-height:226px;

    div > * {
      opacity:0;
    }
    &.current {
      display: flex;
      .nouveaute__slider-item--left {
        position: relative;
      }
      .nouveaute__slider-item--right {
        position: relative;
      }
    }
    img {
      max-height:181px;

    }
    @media screen and (max-width: $screen-xs-max) {
    }
    @media screen and (max-width: $screen-xs-max) {
      flex-flow: column;
    }
    .nouveaute__slider {
      flex:0 0 50%;
      -ms-flex: 1;
      @media screen and (max-width: $screen-xs-max) {
        -ms-flex: 100%;
        flex: 0 0 100%;
        flex-basis: auto;
        justify-content: center;
        text-align: center;
        padding:0;
      }
    }
  }
  .nouveaute__slider-item--left {
    display: flex;
    justify-content:flex-end;
    padding-right:26px;
    overflow: hidden;
    position: relative;
  }
  .nouveaute__slider-item--right {
    padding-left:23px;
    padding-right:96px;
    overflow: hidden;
    @media screen and (max-width: $screen-xs-max) {
      margin-top:30px;
    }
    .nouveaute__slider-item--tile {
      font-size:18px;
      color: $dark-grey;
      margin-bottom:18px;
      position: relative;
    }
    .nouveaute__slider-item--description {
      position: relative;
      font-size:14px;
      line-height:16px;
    }
    .btn-primary {
      margin-top:32px;
      color: $dark-grey;
      border:1px solid $dark-grey;
      &:before {
        background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%2833%2C%2033%2C%2033%29%22%0A%20d%3D%22M4.508%2C7.079%20L4.476%2C7.047%20L1.571%2C9.984%20L0.142%2C8.540%20L3.047%2C5.603%20L-0.015%2C2.508%20L1.492%2C0.984%20L6.015%2C5.555%20L4.508%2C7.079%20Z%22/%3E%0A%3C/svg%3E);
      }
    }
  }
}

.slider-transition {
  position: absolute;
  background-color: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  @include scale(0,1);
  @include scale3d(0,1,1);
  bottom:0px;
  left:-1px;
  z-index: 220;
}
.animation {
  position: relative;
  width:100%;
}