.btn {
  font-size: 14px;
  padding: 9px 64px 8px 11px;
  background: transparent;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 1s ease, opacity 1s ease;
  -moz-transition: color 1s ease, opacity 1s ease;
  -ms-transition: color 1s ease, opacity 1s ease;
  -o-transition: color 1s ease, opacity 1s ease;
  transition: color 1s ease, opacity 1s ease;
  &:before {
    content: '';
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 6px;
    height: 9px;
    right:10px;
    top: 50%;
    @include translatey(-50%);
    @include translate3d(0,-50%,0);
  }
  &:after {
    content: '';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: $white;
    -webkit-transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    transform-origin: left;
    @include scale(0,1);
    @include scale3d(0,1,1);
    z-index:-1;
  }
  &:hover {
    color: $dark-grey;
    &:after {
      @include scale(1,1);
      @include scale3d(1,1,1);

    }
  }
}
.btn-command {
  position: absolute;
  right: 0;
  top: 35%;
  color: #555555;
  padding:8px 31px 23px 11px;
  height: 10px;
  opacity:0;
  &:before {
    -webkit-background-size: cover;
    background-size: cover;
  }
  @media screen and (max-width: $screen-sm) {
    position: relative;
    text-align: center;
    display: block;
    max-width: 100px;
    width:100px;
    margin: 0 auto;
    margin-top: 10px;
  }


}
.btn-slider {
  margin-top: 32px;
  color: #212121;
  border: 1px solid #212121;
  transition: none;
  &:hover {
  }
  &:before {
    height:10px;
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%2833%2C%2033%2C%2033%29%22%0A%20d%3D%22M4.508%2C7.079%20L4.476%2C7.047%20L1.571%2C9.984%20L0.142%2C8.540%20L3.047%2C5.603%20L-0.015%2C2.508%20L1.492%2C0.984%20L6.015%2C5.555%20L4.508%2C7.079%20Z%22/%3E%0A%3C/svg%3E);
  }
}
.btn-danger {
  border:1px solid $red;
  color: $red;
  &:hover {
    color: $white;
  }
  &:before {
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%2063%2C%2012%29%22%0A%20d%3D%22M4.507%2C7.079%20L4.476%2C7.048%20L1.571%2C9.984%20L0.142%2C8.540%20L3.047%2C5.603%20L-0.016%2C2.508%20L1.492%2C0.984%20L6.015%2C5.555%20L4.507%2C7.079%20Z%22/%3E%0A%3C/svg%3E);
  }
  &:after {
    background: $red;
  }
}

.btn-wait {
  border:1px solid $grey;
  color: $grey;
  &:hover {
    color: $white;
  }
  &:before {
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22Filter_0%22%3E%0A%20%20%20%20%3CfeFlood%20flood-color%3D%22rgb%28214%2C%20214%2C%20214%29%22%20flood-opacity%3D%221%22%20result%3D%22floodOut%22%20/%3E%0A%20%20%20%20%3CfeComposite%20operator%3D%22atop%22%20in%3D%22floodOut%22%20in2%3D%22SourceGraphic%22%20result%3D%22compOut%22%20/%3E%0A%20%20%20%20%3CfeBlend%20mode%3D%22normal%22%20in%3D%22compOut%22%20in2%3D%22SourceGraphic%22%20/%3E%0A%3C/filter%3E%0A%0A%3C/defs%3E%0A%3Cg%20filter%3D%22url%28%23Filter_0%29%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%2063%2C%2012%29%22%0A%20d%3D%22M4.507%2C7.079%20L4.476%2C7.048%20L1.571%2C9.984%20L0.142%2C8.540%20L3.047%2C5.603%20L-0.016%2C2.508%20L1.492%2C0.984%20L6.015%2C5.555%20L4.507%2C7.079%20Z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E);
  }
  &:after {
    background: $grey;
  }
}
.btn-deliver {
  border:1px solid $green;
  color: $green;
  &:hover {
    color: $white;
  }
  &:before {
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22Filter_0%22%3E%0A%20%20%20%20%3CfeFlood%20flood-color%3D%22rgb%2812%2C%20255%2C%2086%29%22%20flood-opacity%3D%221%22%20result%3D%22floodOut%22%20/%3E%0A%20%20%20%20%3CfeComposite%20operator%3D%22atop%22%20in%3D%22floodOut%22%20in2%3D%22SourceGraphic%22%20result%3D%22compOut%22%20/%3E%0A%20%20%20%20%3CfeBlend%20mode%3D%22normal%22%20in%3D%22compOut%22%20in2%3D%22SourceGraphic%22%20/%3E%0A%3C/filter%3E%0A%0A%3C/defs%3E%0A%3Cg%20filter%3D%22url%28%23Filter_0%29%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%2063%2C%2012%29%22%0A%20d%3D%22M4.507%2C7.079%20L4.476%2C7.048%20L1.571%2C9.984%20L0.142%2C8.540%20L3.047%2C5.603%20L-0.016%2C2.508%20L1.492%2C0.984%20L6.015%2C5.555%20L4.507%2C7.079%20Z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E);
  }
  &:after {
    background: $green;
  }
}


.btn-primary {
  border: 1px solid $white;
  color: $white;
  position: relative;
  &:before {
    height: 10px;
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%2833%2C%2033%2C%2033%29%22%0A%20d%3D%22M4.508%2C7.079%20L4.476%2C7.047%20L1.571%2C9.984%20L0.142%2C8.540%20L3.047%2C5.603%20L-0.015%2C2.508%20L1.492%2C0.984%20L6.015%2C5.555%20L4.508%2C7.079%20Z%22/%3E%0A%3C/svg%3E);
  }
}
.btn-all-historique {
  border: 1px solid #d6d6d6;
  background-color: $white;
  padding:8px 22px 9px 11px;
  z-index: 10;
  color: #555555;
  &:before {
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%226px%22%20height%3D%2210px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%2833%2C%2033%2C%2033%29%22%0A%20d%3D%22M4.508%2C7.079%20L4.476%2C7.047%20L1.571%2C9.984%20L0.142%2C8.540%20L3.047%2C5.603%20L-0.015%2C2.508%20L1.492%2C0.984%20L6.015%2C5.555%20L4.508%2C7.079%20Z%22/%3E%0A%3C/svg%3E);
    height:10px;
  }
  &:hover {
    color: $white;
    &:after {
      background-color: $dark-grey;
    }
  }
}
.btn-modele {
  padding:9px 9px 8px 26px;
  border: 1px solid #d6d6d6;
  color: $grey;
  position: relative;
  background-color: $white;
  z-index:10;
  &:before {
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%229px%22%20height%3D%226px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%2885%2C%2085%2C%2085%29%22%0A%20d%3D%22M8.984%2C1.508%20L4.508%2C5.984%20L3.016%2C4.492%20L3.047%2C4.461%20L0.171%2C1.586%20L1.586%2C0.171%20L4.461%2C3.047%20L7.492%2C0.016%20L8.984%2C1.508%20Z%22/%3E%0A%3C/svg%3E);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 9px;
    height: 6px;
    left:8px;
  }
  &:hover {
    color: $white;
  }
  &:after {
    background: $red;
  }
}