#header__burger {
  @media screen and (min-width: $screen-xs) {
    display: none;
  }
  cursor: pointer;
  z-index:10001;
  width:35px;
  height:35px;
  left:20px;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  &:before, &:after {
    background-color: $white;
    color: $white;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
  }
  &:after {
    box-shadow: 0 9px 0 0, 0 -9px 0 0;
  }
  &:hover {
    &:after {
      box-shadow: 0 15px 0 0, 0 -15px 0 0;
    }
  }
  &.active {
    &:before {

      @include rotate(45);
      @include rotate3d(0,0,45);
    }
    &:after {
      box-shadow: 0 0 0 0, 0 0 0 0;
      @include rotate(-45);
      @include rotate3d(0,0,-45);

    }
  }
}
.burger-active {
  z-index:10000;
  @include translatex(0%);
  @include translate3d(0%,0,0);
  a {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
    cursor: pointer;
    &:hover {
      color: $red;
    }

  }
}