#loader {
  background-color: $light-grey;
  position: fixed;
  width: 100vw;
  height:100vh;
  z-index:2000;
  clip:rect(0,auto,auto,0);
  overflow:hidden;
  svg {
    width: 50%;
    height: 50%;
    z-index:10;
    position: fixed;
    left: 50%;
    top: 48%;
    @include translate(-50%,-50%);
  }
  .chargement {
    position: fixed;
    top: 75%;
    left:50%;
    @include translate(-50%,-50%);

  }
}
.roue {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}