.select__general {
  select {
    margin:0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:4px 38px 8px 9px;
    font-size:14px;
    background-color: $white;
    -webkit-appearance: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    border: 1px solid #a6a6a6;
    outline:none;
    background: transparent;
    color: #555555;
    border-radius: 1px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);

  }
  option {
    font-size:14px;
  }
}

.best-seller__slide {
  position: relative;
  overflow: hidden;
}
.transition {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: #170cff;
  z-index:1000;
  @include scale(0,1);
}
.best-modele {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #170cff;
    z-index: 1000;
    @include scale(0,1);
  }
}