/****************************************
 *	Import libs
 ****************************************/
@import 'libs/reset';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/general';
/****************************************
 *	Import Components
 ****************************************/
@import 'components/header';
@import 'components/feature';
@import 'components/best-seller';
@import 'components/nouveaute';
@import 'components/command';

@import'components/footer';
/****************************************
 *	Layout
 ****************************************/
@import 'layout/btn';
@import 'layout/select';
@import 'layout/burger';
@import 'layout/loader';


/****************************************
 *	Body
 ****************************************/

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}